body{background-color: black;
  color: white;}

 


/*personajes */
  .card{
    max-width: 100%;
    max-height: fit-content;
    background-color: black;
    color: white;
    display: flex;}
    
  

.row{
  border: solid;
  border-color: red;
}


.card-body{
  background-color: gray;
  color: black;
}

  .d-block{
    height: 300px;
    width: 300px;
    align-items: center;
    
  }

  .card-body{
    text-align: center;
  }


/*secretos */
  .card-secrets{
    max-width: 100%;
    max-height: fit-content;
  }

  /*galeria */

  .gallery-title{
    text-align: center;
  }

  .gallery-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-auto-rows: minmax(fit-content, auto);
    grid-auto-flow: row;
    gap: 10px;
    background-color: gray;
    
  }

  .gallery-container img{
    width: 100%;
    height: 300px;
    }

  