.card-secrets{
    max-width: 100%;
    max-height: fit-content;
  }

  .secrets-content{
    background-color: grey;
    color: black;
  }


  @media screen and (max-width: 720px) {
    .secrets-content{font-size: 15px;
     
}
}
